@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

:root {
  --primary-color: #0e79ec;
  --secondary-color: #0a9c0a;
}

.hero-container {
  padding: 20px 0;

  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background: linear-gradient(to bottom, #fff, rgba(10, 156, 10, 0.2));
}

.header {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  max-width: 1500px;
  margin: 0 auto;
}

.logo {
  width: 190px;
  height: 39px;
}

.nav {
  display: flex;
  align-items: center;
  background-color: #fff;
  text-decoration: none;
  padding: 10px 30px;
  height: 54px;
  border-radius: 8px;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
}

.nav-list {
  display: flex;
  width: 100%;
  align-items: center;
  list-style: none;
  padding: 0;
  margin: 0;
}

.nav-item {
  margin-left: 10px;
}

.nav-link {
  text-decoration: none;
  display: block;
  color: #000;
  font-size: 16px;
  font-weight: 500;
  padding: 10px 20px;
  border-radius: 5px;
  color: #000;
  font-size: 16px;
}

.nav-link:hover,
.nav-link:focus {
  background-color: var(--primary-color);
  color: #fff;
}

.header {
  margin-bottom: 109px;
}
.hero {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  max-width: 1500px;
  margin: 0 auto;
  width: 100%;
}

.hero-title {
  font-size: 48px;
  line-height: 56px;
  width: 580px;
  color: #000;
}

.hero-description {
  font-size: 18px;
  line-height: 24px;
  margin-top: 26px;
  width: 488px;
  font-weight: 300;
  color: #000000;
}

.hero-button {
  margin-top: 30px;
  width: 200px;
  height: 50px;
  background-color: var(--primary-color);
  color: #fff;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  font-weight: 500;
  text-decoration: none;
  border: none;
  cursor: pointer;
}

.hero-images {
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-images img {
  border: 10px solid #fff;
}

.banner {
  display: flex;
  justify-content: center;
  gap: 30px;
  align-items: center;
  margin-top: auto;
}

.banner-item {
  display: flex;
  align-items: center;
  gap: 30px;
}

.banner-item + .banner-item {
  border-left: 2px solid rgba(0, 0, 0, 1);
  padding-left: 30px;
} 


/*SHARED*/
.title {
    font-size: 48px;
    font-weight: 500;
    color: #000;
    text-align: center;
    margin-top: 63px;
}
.description {
    font-size: 18px;
    font-weight: 300;
    color: #000;
    text-align: center;
}
/*Nos tests*/


.tests-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 103px;
  margin-top: 63px;
  justify-items: center;

}


.test-item {
  background-color: #fff;

  padding: 20px;
  width: 405px;
  height: 346px;
  border-radius: 5px;
  box-shadow: 0px 4px 4px rgba(10, 156, 10, 0.25);

}

.test-icon {
  width: 50px;
  height: 50px;
  background-color: var(--secondary-color);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}

.test-title {
  font-size: 20px;
  font-weight: 600;
  color: #000;
  margin-top: 27px;
}

.test-description {
  font-size: 16px;
  color: #000;
  margin-top: 20px;
  opacity: 0.6;
}

/*how-it-works*/
.how-it-works {
  margin-top: 63px;
  background-color: var(--primary-color);
  opacity: 0.8;
}

.how-it-works .title {
  color: #fff;
  
}

.how-it-works .description {
  color: #fff;
} 
.how-it-works-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 30px;
}


.steps{
    display: flex;
    flex-direction: column;
    gap: 50px;
    width: 35%;
}
.step{
    display: flex;
    align-items: center;
    gap: 20px;
}
/*step number*/
.step-number{
    display: flex;
    align-items: center;
    gap: 20px;
}
.step-number-text{
    font-size: 32px;
    color: #fff;
}
.step-title{
    font-size: 24px;
    color: #fff;
}
.step-description{
    font-size: 16px;
    color: #fff;
    opacity: 0.6;
    width: 368px;
}

